.loader{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.8);	
	width: 100%!important;
	cursor: progress;
	text-align: center;
	font-size: 30px;
    z-index: 9999;
}

.page-home{
	.products{
		.meme{
			max-width: 150px;
		}	
	}
}
.page-generate{
	[data-step]{
		display: none;
		&:first-of-type{ display: block; }
	}
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.page-products{
	padding-bottom: 34px;
}
.products-item{
	.contact-box,
	.widget{
		height: 300px;			
		cursor: pointer;
		
		.product-title{
			color: inherit!important;
		}				
		.actions{
			position: absolute;
		    bottom: 30px;
    		left: 10px;
    		right: 10px;			
		}
	}
	.widget{
		widgth: 100%;
		padding-top: 42px;	
		&:hover{ opacity: 0.8; }
	}
	img{
		max-height: 181px;
		width: auto;
		margin: auto;
		display: block;
	}
	
	&[data-id="0"] .widget{ padding-top: 75px; margin-top	: 0; }
}

.details-container{
	.product-refresh-a{
	    position: absolute;
    	top: -37px;
    	right: 40px;
    }
}

.widget-access{
	.product-select{
		font-size: 16px;
		padding: 20px 5px;
		select{	    	
    		padding: 14px;
    		height: 59px
    	}
    }
}

.access-summary-container{
	.access-status-label{
		font-size: 1.5rem;
		font-weight: normal;
		margin: 0 10px;
	} 
}
.page-ranker{
	.product-list{		
		.row{ margin-bottom: 7px; }
		.product-item{
			.product-select-a{
				display: none;
			}
			.keyword-item{
				border-bottom: 1px solid #eee;
				padding-bottom: 20px;
				margin-bottom: 20px;
				
				&:last-of-type{
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}