<div class="row">
    <div class="ibox float-e-margins widget-system">
        <form class="form-horizontal" role="form">
            <input type="hidden" name="action" value="systemsave">
            <div class="ibox-content">
                <?php foreach($system_settings as $s):?>
                    <div class="clearfix form-group">
                        <label class="control-label col-lg-3 required"><?= ucwords(str_replace("_", " ", $s->name)) ?>:</label>
                        <div class="col-lg-8 input-group">
                            <?php if(in_array($s->name,array('default_message_1','default_message_2','default_email_body'))): ?>
                            <textarea class="form-control" name="<?=$s->name?>" rows=2><?= $s->value ?></textarea>
                            <?php else: ?>
                            <input type="text" name="<?= $s->name ?>" class="form-control" value="<?= $s->value ?>">
                            <?php endif;?>
                            <div class="text-muted" style="font-style: italic;"><?= $s->title ?></div>
                        </div>
                    </div>
                <?php endforeach; ?>
                <div class="clearfix form-group text-center">
                    <a href="#" class="btn btn-primary submit" data-loading-text="Saving..."><i class="fa fa-save"></i> Save Settings</a>
                </div>
            </div>
        </form>
    </div>

    <div class="ibox float-e-margins widget-system">
        <form class="form-horizontal" role="form">
            <input type="hidden" name="action" value="proxysave">
            <div class="ibox-content">
                <div class="clearfix form-group">
                    <label class="control-label col-lg-3 required">Proxy List:</label>
                    <div class="col-lg-8 input-group">
                            <textarea class="form-control" name="proxies" rows=20><?= $proxies ?></textarea>
                    </div>
                </div>
                <div class="clearfix form-group text-center">
                    <a href="#" class="btn btn-primary submit" data-loading-text="Saving..."><i class="fa fa-save"></i> Save Proxy List</a>
                </div>
            </div>
        </form>
    </div>
</div>