<div id="wrapper">	
	<?php includeTemplate('default::sidenav'); ?>
	
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<?php includeTemplate('default::topbar'); ?>
		
		<?php includeTemplate('default::breadcrumbs'); ?>
		
		<?php include $pagedata['content']; ?>
		

		<?php includeTemplate('default::footer'); ?>
	</div>
</div>