<div class="innerLR page-agents">	
	<div class="row">	
		<div class="col-sm-12">			
			<div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>User Members</h5>
					<a class="m-r-sm btn btn-success btn-xs pull-right create-a"><i class="fa fa-plus-circle"></i> Add User</a>
					<a class="m-r-sm btn btn-danger btn-xs pull-right inactive-a" data-text-on='<i class=\"fa fa-eye\"></i> View Inactive Members' data-text-off='<i class=\"fa fa-eye\"></i> Hide Inactive Members'><i class="fa fa-eye"></i> View Inactive Members</a>
				</div>				
                <div class="ibox-content">
					<table class="dataTable table">
						<thead class="bg-gray">
						<tr>
							<th class="center" style="width: 1%">ID</th>
							<th>Username</th>
							<th>Name</th>													
							<th class="center">Last Login</th>							
							<th class="text-center"></th>
						</tr>
						</thead>
						<tbody>
						<?php foreach($agents as $agent): ?>
							<tr class="agent-item selectable <?=($agent->status>0)?'':'disabled hidden'?>" data-id="<?=$agent->id?>">
								<td class="center"><?=$agent->id?></td>
								<td><?=$agent->username?></td>
								<td><?=$agent->first_name?> <?=$agent->last_name?></td>								
								<td class="center"><?=$agent->last_login?></td>								
								<td class="text-right actions">
									<div class="btn-group btn-group-sm">										
										<a href="#" title="Edit User Information" class="edit-a btn btn-info"><i class="fa fa-pencil"></i></a>
									</div>
								</td>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>					
				</div>

			</div>
		</div>	
	</div>		
</div>