<?php
	$ids = $_REQUEST['templateData']['ids'];	
	$pId = (int)$_REQUEST['templateData']['pId'];
	
	/*
	if($pId){
		$keywords = getKeywordsList(array('product_id'=>$pId));
	}
	else{
		$keywords = getKeywordsList();
	}
	*/
		
	$keywords = getKeywordsList();
	$products = getUserProducts();			
?>
<?php if(!$keywords): ?>
	<div class="alert alert-danger text-center">No keywords found!</div>
<?php else: ?>
<form>
	<input type="hidden" name="action" value="createCampaigns">	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Products</label>
				<select class="form-control chosen-select-width sessions-product-selector">
					<option value="">All...</option>
					<?php foreach($products as $p): ?>
						<option value="<?=$p['id']?>" <?=($p['id']==$pId)?'selected':''?>><?=$p['title_short']?></option>
					<?php endforeach; ?>															
				</select>						
			</div>
		</div>													
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Keywords</label>								
				<div class="fileupload fileupload-new pull-right" style="cursor:pointer;">																			
					<div class="text-center actions">
						<div class="btn btn-file"><a href="#" class=""><small>Upload keywords list</small></a><span class="fileupload-new"></span><input type="file"></div>										
					</div>
					<a href="#" class="uploading" style="display: none;"><small><i class="fa fa-fw fa-spinner fa-spin"></i> Processing, Please wait...</small></a>
				</div>
				<div>&nbsp;</div>
				<select class="form-control create-sessions-keywords-select dualselect" name="kIds[]" multiple>
				<?php foreach($keywords as $k): ?>
					<option value="<?=$k->id?>" data-pId="<?=$k->product_id?>" <?=(is_array($ids) && in_array($k->id,$ids))?'selected':''?>><?=$k->term?></option>
				<?php endforeach; ?>															
				</select>						
			</div>
		</div>				
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Number of Sessions</label>
				<input type="number" class="form-control" name="sessions">
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Start Date</label>
				<input class="form-control datepicker" name="start">
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Complete in</label>
				<select class="form-control" name="period">												
					<option value="24" selected>24 Hours</option>
					<option value="36">36 Hours</option>
					<option value="48">48 Hours</option>															
				</select>						
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Starting Page</label>
				<input type="number" class="form-control" name="page_start">																				
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Cutoff Page</label>								
				<input type="number" class="form-control" name="page_end">												
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">Proxies</label>
				<select class="form-control" name="provider">		
					<option value="">Default proxies</option>						
					<option value="RotatingProxies.com">RotatingProxies.com</option>																						
					<option value="Microleaves">Microleaves</option>
				</select>						
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label">&nbsp;</label>
				<a href="#" class="btn btn-block btn-success campaign-create-a"><i class="fa fa-plus"></i> Create</a>
			</div>
		</div>				
	</div>
</form>
<?php endif; ?>