<?php 
	$id = $_REQUEST['templateData']['kId'];
	$campaigns = getKeywordCampaigns($id);		
?>
<table class="table dataTable" data-bFilter="false">
	<thead>
		<th>Created</th>		
		<th>Number of Sessions</th>
		<th>Scheduled Finish Date</th>
		<td></td>
	</thead>
	<tbody>
		<?php foreach($campaigns as $c): ?>
			<tr>
				<td><?=$c->timestamp?></td>
				<td><?=$c->sessions_count?></td>				
				<td><?=$c->ts_end?></td>
				<td>
					<a href="#" class="btn btn-xs btn-danger session-campaign-cancel-a" data-cId="<?=$c->id?>"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>