<div class="widget-sessions">

<script type="x-handlebars" id="template-create-result">
	<div><label class="badge badge-primary">{{campaignsCount}}</label> <b>campaigns</b> created with a total of <label class="badge badge-primary">{{sessions}}</label> <b>sessions</b>.</div>
</script>

</div>