
  <tr><td colspan="2"><hr></td></tr>
  <tr>
      <td colspan="2" align="center" style="color:#666; font-size:13px;">
       Copyright - <?=$GLOBALS['site']['title']?>
      </td>
  </tr>
</table>
</body>
</html>
