<!-- --------------------------- js Defaults ---------------------------  -->
<script src="/js/lib/jquery-2.1.1.js"></script>
<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/class.js"></script>
<script src="/js/lib/handlebars.js"></script>
<script src="/js/inspinia.js"></script>
<script src="/js/index.js"></script>

<!-- --------------------------- js Libs ---------------------------  -->
<script src="/js/lib/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/lib/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/lib/chosen/chosen.jquery.js"></script>
<script src="/js/lib/dataTables/jquery.dataTables.js"></script>
<script src="/js/lib/dataTables/dataTables.bootstrap.js"></script>

<script src="/js/lib/dataTables/dataTables.buttons.min.js"></script>
<script src="/js/lib/dataTables/jszip.min.js"></script>
<script src="/js/lib/dataTables/pdfmake.min.js"></script>
<script src="/js/lib/dataTables/vfs_fonts.js"></script>
<script src="/js/lib/zoom/easyzoom.js"></script>

<script src="/js/lib/summernote/summernote.min.js"></script>
<script src="/js/lib/moment.js"></script>
<script src="/js/lib/moment.timezone.js"></script>

<!-- Flot -->
<script src="/js/lib/flot/jquery.flot.js"></script>
<script src="/js/lib/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/lib/flot/jquery.flot.spline.js"></script>
<script src="/js/lib/flot/jquery.flot.resize.js"></script>
<script src="/js/lib/flot/jquery.flot.pie.js"></script>
<script src="/js/lib/flot/jquery.flot.symbol.js"></script>
<script src="/js/lib/flot/jquery.flot.time.js"></script>
  

<!-- Peity -->
<script src="/js/lib/peity/jquery.peity.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/lib/pace/pace.min.js"></script>
<script src="/js/lib/dropzone/dropzone.js"></script>

<!-- GITTER -->
<script src="/js/lib/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/js/lib/sparkline/jquery.sparkline.min.js"></script>

<!-- ChartJS-->
<script src="/js/lib/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/js/lib/toastr/toastr.min.js"></script>

<!-- Jquery Validate -->
<script src="/js/lib/validate/jquery.validate.min.js"></script>

<!-- Steps -->
<script src="/js/lib/staps/jquery.steps.min.js"></script>

<script src="/js/lib/daterangepicker/daterangepicker.js"></script>
<script src="/js/lib/datepicker/bootstrap-datepicker.js"></script>

<!-- Switchery -->
<script src="/js/lib/switchery/switchery.js"></script>
<script src="/js/lib/dropzone/dropzone.js"></script>
<script src="/js/lib/jasny/jasny-bootstrap.min.js"></script>
<script src="/js/lib/dualListbox/jquery.bootstrap-duallistbox.js"></script>


<script src="//www.gstatic.com/charts/loader.js"></script>


<script src="/js/class/modals.js"></script>

<?php if($pagedata['js'] || $pagedata['js_default']) :?>
<?php foreach(array_merge($pagedata['js'],$pagedata['js_default']) as $js): ?>
	<script src="<?=$js?>"></script>
<?php endforeach; ?>
<?php endif; ?>


</body>
</html>