<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">											
			<li class="nav-header">
				<div class="dropdown profile-element">					
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><?= $_SESSION['user']->firstname.' '.$_SESSION['user']->lasttname ?></strong>
					</span> <span class="text-muted text-xs block"><?= $_SESSION['user']->email?> <!-- <b class="caret"></b> --></span> </span> </a>
					<!-- 
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="profile.html">Profile</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li><a href="mailbox.html">Mailbox</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
					 -->
				</div>
				<div class="logo-element">
					
				</div>
			</li>
												
			<?php foreach($GLOBALS['menu']->getMenu() as $k=>$menu): ?>
				<?php if($menu['admin'] && $_SESSION['user']->type_id != 1) continue; ?>
				<?php if($menu['biz'] && $_SESSION['user']->type_id > 2) continue; ?>
				<li class="<?= ($k == $REQUEST->request)?'active':'';?>">
					<?php if( count($GLOBALS['menu']->getSubMenu($k))>0 ): ?>
						<a href="#"><i class="<?= $menu['icon']; ?>"></i> <span class="nav-label"><?= $menu['title']; ?></span><span class="fa arrow"></span></a>												
						<ul class="nav nav-second-level">
							<?php foreach( $menu['submenu'] as $subk => $submenu ): ?>
								<?php if($submenu['admin'] && $_SESSION['user']->type_id != 1) continue; ?>
								<?php if($submenu['biz'] && $_SESSION['user']->type_id > 2) continue; ?>
								<li class="<?= ($k == $REQUEST->request)?'active':'';?>">
									<a href="<?= $GLOBALS['system']['href_base'].$k.$subk; ?>" class=""><i class="<?= $submenu['icon']; ?>"></i><span><?= $submenu['title']; ?></span></a>
								</li>
							<?php endforeach; ?>
						</ul>
					<?php else: ?>
						<a href="<?= $GLOBALS['system']['href_base'].$k; ?>" class=""><i class="<?= $menu['icon']; ?>"></i><span><?= $menu['title']; ?></span></a>
					<?php endif; ?>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
</nav>