<div class="ibox float-e-margins">
	<div class="ibox-title"><h5>Past 24 hours Stats</h5></div>
	<div class="ibox-content 24stats-container"></div>
</div>

<script id="template-24stats" type="x-handlebars">		
	<table class="table">
		<tr><td><b>Total</b></td><td><b>{{stats.total}}</b></td></tr>
		<tr><td><b>Hourly Average</b></td><td><b>{{stats.avg}}/hour</b></td></tr>
		{{#each stats.hourly}}
		<tr><td>{{@key}}</td><td>{{this}}</td></tr>
		{{/each}}			
	</table>        
</script>