<div class="ibox float-e-margins">
	<div class="ibox-title"><h5>Sessions Stats</h5></div>
	<div class="ibox-content sessions-container"></div>
</div>

<script id="template-sessions" type="x-handlebars">		
	<ul class="stat-list">
		<li>
			<h2 class="no-margins">{{stats.threads}}</h2>
			<small>Running threads</small>							
		</li>
		<li>
			<h2 class="no-margins">{{stats.due}}</h2>
			<small>Overdue Pending Sessions</small>							
		</li>
		<li>
			<h2 class="no-margins">{{stats.pending}}</h2>
			<small>Total Pending Sessions</small>							
		</li>
	</ul>        
</script>