<div class="ibox float-e-margins">
	<div class="ibox-title"><h5>System Stats</h5></div>
	<div class="ibox-content system-container"></div>
</div>

<script id="template-system" type="x-handlebars">		
	<ul class="stat-list">
		<li>
			<h2 class="no-margins">{{stats.cpu}}%</h2>
			<small>CPU Usage</small>				
			<div class="progress progress-mini"><div style="width: {{stats.cpu}}%;" class="progress-bar"></div></div>
		</li>
		<li>
			<h2 class="no-margins">{{stats.mem}}% ({{stats.mem_gb}}GB)</h2>
			<small>RAM Usage</small>				
			<div class="progress progress-mini"><div style="width: {{stats.mem}}%;" class="progress-bar"></div></div>
		</li>		
	</ul>        
</script>