<div class="ibox float-e-margins">
	<div class="ibox-title"><h5>Users Stats (Past 30 days)</h5></div>
	<div class="ibox-content users-container"></div>
</div>

<script id="template-users" type="x-handlebars">		
	<div class="row text-center">
		{{#each this.stats.users}}
		<div class="col-lg-6">			
			<h3>{{username}}</h3>
			<div id="user-chart-{{@key}}" style="width: 100%; height: 300px; margin: 0 auto"></div>					
		</div>
		{{/each}}
	</div>       
</script>