<div class="page-monitor">
    <div class="row">    	    	                
    	<div class="col-lg-6">
    		<div class="row">
    			<div class="col-lg-6">
    				<?php includeTemplate('monitor::_system');?>
    			</div>
    			<div class="col-lg-6">
    				<?php includeTemplate('monitor::_sessions');?>
    			</div>
    			<div class="col-lg-12">
    				<?php includeTemplate('monitor::_24');?>
    			</div>
    		</div>
    	</div>
    	<div class="col-lg-6">
    		<?php includeTemplate('monitor::_users');?>
    	</div>            	    
    </div>
</div>