<form>
	<input type="hidden" name="action" value="addKeywords"/>
	<div class="form-group">
		<label>ASIN: </label>	
		<input type="text" class="form-control" name="asin" required>
	</div>
	<div class="form-group">
		<label>Schedule: </label>			
		<div class="input-group">
  			<span class="input-group-addon">Check rank every </span>
  			<input type="number" name="schedule" class="form-control" placeholder="Number of days..." value="" required>
  			<span class="input-group-addon"> day(s)</span>
		</div>
	</div>
	<hr>
	<div class="form-group">				
		<div class="fileupload fileupload-new">																			
			<div class="text-center actions">
				<span class="btn btn-success btn-block btn-file btn btn-primary"><i class="fa fa-fw fa-upload"></i> Import from CSV<span class="fileupload-new"></span><input type="file"></span>										
			</div>
			<a href="#" class="btn btn-warning btn-block uploading" style="display: none;"><i class="fa fa-fw fa-spinner fa-spin"></i> Uploading, Please wait...</a>
		</div>					
		<br>
		<div class="form-label">Keywords (one keyword per line)</div>	
		<textarea class="form-control" rows="10" name="keywords"></textarea>
	</div>
</form>