<form>
	<input type="hidden" name="action" value="saveKeyword">
	<input type="hidden" name="id" value="{{id}}">		
	<div class="form-group">
		<label>Keyword: </label>
		<input type="text" class="form-control" name="keyword" value="{{keyword}}">
	</div>
	<div class="form-group">
		<label>Schedule: </label>			
		<div class="input-group">
  			<span class="input-group-addon">Check rank every </span>
  			<input type="number" name="schedule" class="form-control schedule-input" min="0" placeholder="Number of days..." value="{{schedule}}" required>
  			<span class="input-group-addon"> day(s)</span>
		</div>
	</div>
</form>