<?php
	$data = $_REQUEST['templateData']['data'];
?>
<h2 class="text-navy"><i class="fa fa-check"></i> <b><?=$data['ok']?></b> Successfully Imported </h2>
<h2 class="text-warning"><i class="fa fa-times"></i> <b><?=$data['errors']?></b> Not imported </h2>