<div class="page-ranker">	
	<div class="row hidden">
		<div class="col-sm-12">
			<div class="ibox-content m-b-sm border-bottom">
				<form class="search-form">
				<input type="hidden" name="action" value="loadKeywords">
				<input type="hidden" name="filter[product_id]" value="">
				<div class="row">								
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">Keyword</label>
							<input type="text" class="form-control" name="filter[keyword]">						
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">ASIN</label>
							<input type="text" class="form-control" name="filter[asin]">						
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
						</div>
					</div>				
				</div>
				</form>
			</div>
		</div>

		<div class="col-sm-6 hidden">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Summary</div>
				<div class="ibox-content summary-container"></div>			
			</div>
		</div>
	</div>
	
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Keywords</h5>					
					<a href="#" class="btn btn-xs btn-success pull-right rank-selected-a m-l-sm"><i class="fa fa-bullseye"></i> Rank Selected Keywords (<span class="selected-counter">0</span>)</a>
					<a href="#" class="btn btn-xs btn-primary pull-right add-a"><i class="fa fa-plus-circle"></i> Add Keywords</a>										
				</div>
                <div class="ibox-content">                
                	<div class="panel-group product-list">					          
                	</div>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-product-item" type="x-handlebars">
		<div class="panel panel-default product-item" data-asin="{{asin}}">
			<div class="panel-heading">
				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse{{asin}}" class="product-toggle-a">{{title}} <small>({{asin}})</small></a> <a href="#" class="pull-right product-select-a"><small>Select All</small></a></h4>
			</div>					    
			<div id="collapse{{asin}}" class="panel-collapse collapse">
				<div class="panel-body keywords-container">
					
				</div>
			</div>
		</div>					
	</script>
	<script id="template-keyword" type="x-handlebars">
					<div class="keyword-item" data-id="{{id}}" data-keyword="{{keyword}}" data-schedule="{{schedule}}">
						<div class="pull-right"><small>				
								<a href="#" title="View Rank History" class="btn btn-info btn-xs history-a"><i class="fa fa-line-chart"></i></a>
								<?/*<a href="#" title="View Badges History" class="btn btn-warning btn-xs badges-a"><i class="fa fa-tag"></i></a>*/?>
								<a href="#" title="Rank keyword" class="btn btn-success btn-xs rank-a" data-loading-text='<i class="fa fa-spin fa-spinner"></i>'><i class="fa fa-bullseye"></i></a>
								<a href="#" title="Edit keyword" class="btn btn-primary btn-xs edit-a"><i class="fa fa-pencil"></i></a>
								<a href="#" title="Delete keyword" class="btn btn-danger btn-xs remove-a"><i class="fa fa-trash"></i></a>				
						</div>
						<h4><input type="checkbox" class="select-a"> {{keyword}}</h4>
						<div class="row">
							<div class="col-sm-4">								
								<b>Created:</b> {{timestamp}}
							</div>
							<div class="col-sm-4">
								<b>Rank:</b> 
								{{rank}}

								{{#xIf rank_delta "==" "-"}}								
								{{else}}
									{{#xIf rank_delta "==" "0"}}
										<span class="text-default">{{rank_delta}}</span>
									{{else}}
										{{#xIf rank_delta ">=" "0"}} 
											<span class="text-navy"><i class="fa fa-level-up"></i> {{rank_delta}}</span>
										{{else}}
											<span class="text-danger"><i class="fa fa-level-down"></i> {{rank_delta}}</span>
										{{/xIf}}
										<span class="pie">{{line}}</span>
									{{/xIf}}
								{{/xIf}}
							</div>
							<div class="col-sm-4">								
								<b>Possible Badges:</b>
								{{#each badges_found}}{{this}}{{else}}-{{/each}}								
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<b>Schedule:</b> {{schedule}} day(s)								
							</div>
							<div class="col-sm-4">	
								<b>Badges:</b> 
								{{#each badges}}
									<a href="#" class="btn btn-xs btn-warning small"><small>{{title}} {{timestamp}}</small></a>
								{{else}}
									-
								{{/each}}																							
							</div>
							<div class="col-sm-4">								
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<b>Last Ranked:</b> {{_rank_timestamp}}																																	
							</div>
							<div class="col-sm-4">
								<b>ASIN:</b> {{asin}}								
							</div>
							<div class="col-sm-4">
							</div>
						</div>
												
					</div>
	</script>
	<script id="template-empty" type="x-handlebars">
		<tr>
			<td>No keywords found!</td>
			<td></td>
			<td></td>
		</tr>
	</script>
</div>