<div class="page-ranker">	
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content m-b-sm border-bottom">
				<form class="search-form">
				<input type="hidden" name="action" value="loadKeywords">
				<input type="hidden" name="filter[product_id]" value="">
				<div class="row">								
					<div class="col-sm-3">
						<div class="form-group">
							<label class="control-label">Keyword</label>
							<input type="text" class="form-control" name="filter[keyword]">						
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label class="control-label">Products</label>
							<select class="form-control chosen-select-width" name="filter[product][]" multiple>
								<option value="">Select products...</option>
								<?php foreach(getUniqueProducts() as $r):?>
									<option value="<?=$r->asin?>"><?=strshorten($r->title,70)?></option>
								<?php endforeach; ?>
							</select>												
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">ASIN</label>
							<input type="text" class="form-control" name="filter[asin]">						
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
						</div>
					</div>				
				</div>
				</form>
			</div>
		</div>

		<div class="col-sm-6 hidden">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Summary</div>
				<div class="ibox-content summary-container"></div>			
			</div>
		</div>
	</div>
	
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Keywords</h5>					
					<a href="#" class="btn btn-xs btn-success pull-right rank-selected-a m-l-sm"><i class="fa fa-bullseye"></i> Rank Selected Keywords</a>
					<a href="#" class="btn btn-xs btn-primary pull-right add-a"><i class="fa fa-plus-circle"></i> Add Keywords</a>										
				</div>
                <div class="ibox-content">
                    <table class="table keywords-container">
                        <thead>
                            <tr>
                            	<th data-orderable="false"><input class="select-all" type="checkbox"/></th>
								<th data-orderable="true">Created</th> 
								<th data-orderable="true">Ranked</th>
								<th data-orderable="true">Keyword</th>								
								<th data-orderable="true">Schedule</th>
								<th data-orderable="true">ASIN</th>
								<th data-orderable="true">Product</th>								
								<th data-orderable="true">Rank</th>
								<?php /*?><th data-orderable="false">Badges</th><?php */?>
								<th data-orderable="false">Rank Movement</th>																						
                                <th nowrap data-orderable="false"></th>                                                                                                
                            </tr>
                        </thead>
                        <tbody>	                        				
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-keyword" type="x-handlebars">
		<tr class="keyword-item" data-id="{{id}}" data-keyword="{{keyword}}" data-schedule="{{schedule}}">
			<td><input type="checkbox"/></td>
			<td nowrap><small>{{timestamp}}</small></td>
			<td nowrap><small>{{latest_rank_timestamp}}</small></td>
			<td nowrap>{{keyword}}</td>			
			<td nowrap>{{schedule}} day(s)</td>
			<td nowrap>{{asin}}</td>
			<td nowrap>{{title}}</td>
			<td>{{rank}}</td>
<?/*
			<td>	
				{{#each badges}}
					<a href="#" class="btn btn-xs btn-warning small"><small>{{title}} {{timestamp}}</small></a>
				{{else}}
					-
				{{/each}}
			</td>
*/?>
			<td>
				{{#xIf rank_delta "==" "-"}}
					-
				{{else}}
					{{#xIf rank_delta "==" "0"}}
						<span class="text-default">{{rank_delta}}</span>
					{{else}}
						{{#xIf rank_delta ">=" "0"}} 
							<span class="text-navy"><i class="fa fa-level-up"></i> {{rank_delta}}</span>
						{{else}}
							<span class="text-danger"><i class="fa fa-level-down"></i> {{rank_delta}}</span>
						{{/xIf}}
						<span class="pie">{{line}}</span>
					{{/xIf}}
				{{/xIf}}
			</td>					
			<td nowrap>				
				<a href="#" title="View Rank History" class="btn btn-info btn-xs history-a"><i class="fa fa-line-chart"></i></a>
				<?/*<a href="#" title="View Badges History" class="btn btn-warning btn-xs badges-a"><i class="fa fa-tag"></i></a>*/?>
				<a href="#" title="Rank keyword" class="btn btn-success btn-xs rank-a" data-loading-text='<i class="fa fa-spin fa-spinner"></i>'><i class="fa fa-bullseye"></i></a>
				<a href="#" title="Edit keyword" class="btn btn-primary btn-xs edit-a"><i class="fa fa-pencil"></i></a>
				<a href="#" title="Delete keyword" class="btn btn-danger btn-xs remove-a"><i class="fa fa-trash"></i></a>				
			</td>
		</tr>
	</script>
	<script id="template-empty" type="x-handlebars">
		<tr>
			<td>No keywords found!</td>
			<td></td>
			<td></td>
		</tr>
	</script>
</div>