<form>
	<input type="hidden" name="action" value="createSearch"/>
	<div class="form-group">
		<div class="form-label">ASIN</div>	
		<input type="text" class="form-control" name="asin" required>
	</div>
	<hr>	
	<div class="form-group">					
		<div class="fileupload fileupload-new">																			
			<div class="text-center actions">
				<span class="btn btn-success btn-block btn-file btn btn-primary"><i class="fa fa-fw fa-upload"></i> Import from CSV<span class="fileupload-new"></span><input type="file"></span>										
			</div>
			<a href="#" class="btn btn-warning btn-block uploading" style="display: none;"><i class="fa fa-fw fa-spinner fa-spin"></i> Uploading, Please wait...</a>
		</div>					
	</div>
	<div class="form-group">
		<div class="form-label">Keywords (one keyword per line)</div>	
		<textarea class="form-control" rows="10" name="keywords" required></textarea>
	</div>
</form>