<form>
	<input type="hidden" name="action" value="quickCheck"/>
	<div class="form-group">
		<div class="form-label">ASIN</div>	
		<input type="text" class="form-control" name="asin" required>
	</div>
	
	<div class="form-group">
		<div class="form-label">Keyword</div>	
		<input type="text" class="form-control" name="keyword" required>
	</div>
	
	<div class="form-group">
		<a href="#" class="btn btn-primary btn-block quick-search-a"><i class="fa fa-search"></i> Check Keyword</a>
	</div>
	
	<div class="form-group quick-result-found quick-result" style="display: none">
		<hr>
		<div class="alert alert-success text-center"><i class="fa fa-check"></i> Keyword is indexed</div>				
	</div>
	
	<div class="form-group quick-result-notfound quick-result" style="display: none">
		<hr>
		<div class="alert alert-danger text-center"><i class="fa fa-times"></i> Keyword is not indexed</div>				
	</div>
	
	<div class="form-group quick-result-error quick-result" style="display: none">
		<hr>
		<div class="alert alert-warning text-center"><i class="fa fa-exclamation-triangle"></i> Error occured</div>				
	</div>
</form>