<?php 
	$id = $_REQUEST['templateData']['id'];
	
	$r = $fivek->getSearch($id);

	if($r){
		$found = $errors = $notfound = array(); 
		foreach($r->keywords as $k){
			if(!$k->pending){
				if($k->error){
					$errors[] = $k->keyword.': '.$k->error;
				}
				else{
					if($k->result) $found[] = $k->keyword;
					else $notfound[] = $k->keyword;
				}
			}
		}	
	
		//$found = implode("\r\n",$found);
		//$notfound = implode("\r\n",$notfound);
		//$errors = implode("\r\n",$errors);
	}
?>
<?if(!$r):?>
<div class="alert alert-danger text-center">Search not found!</div>
<?else:?>
<div class="row">
	<div class="col-sm-12">		
		<div>
			<span>Progress:</span>
			<small class="pull-right"><?=number_format($r->stats->total-$r->stats->pending,0)?> of <?=number_format($r->stats->total,0)?> Keywords Completed</small>
		</div>
		<div class="progress">
			<div style="width: <?=$r->stats->progress?>%;" class="progress-bar progress-bar-success"><?=$r->stats->progress?>%</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label class="text-success"><i class="fa fa-check"></i> Indexed (<?=number_format(count($found),0)?>)</label>
			<textarea class="form-control" rows="10"><?=implode("\r\n",$found)?></textarea>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
			<label class="text-danger"><i class="fa fa-times"></i> Not indexed (<?=number_format(count($notfound),0)?>)</label>
			<textarea class="form-control" rows="10"><?=implode("\r\n",$notfound)?></textarea>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
			<label class="text-warning"><i class="fa fa-times"></i> Errors (<?=number_format(count($errors),0)?>)</label>
			<textarea class="form-control" rows="10"><?=implode("\r\n",$errors)?></textarea>
		</div>
	</div>
</div>

<?endif;?>