<div class="page-fivek">
	<div class="row">
		<div class="col-sm-12 text-right m-b-md">
			<a href="#" class="btn btn-info quick-a"><i class="fa fa-check"></i> Quick Check</a>
			<a href="#" class="btn btn-primary create-a"><i class="fa fa-plus"></i> Create New Search</a>
		</div>
	</div>		
	<div class="row">
		<div class="col-sm-12">
			 <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Filter Searches</h5>																			
				</div>                
				<div class="ibox-content border-bottom">
					<form class="search-form">
					<input type="hidden" name="action" value="loadSearches">				
					<div class="row">								
						<div class="col-sm-4">
							<div class="form-group">
								<label class="control-label">ASIN</label>													
								<input type="text" class="form-control" name="filter[asin]">													
							</div>
						</div>	
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">&nbsp;</label>
								<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
							</div>
						</div>				
					</div>
					</form>				
				</div>
			</div>
		</div>

	</div>
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Searches</h5>																			
				</div>
                <div class="ibox-content">
                    <table class="table searches-container">
                        <thead>
                            <tr>								
								<th data-orderable="true">Created</th> 
								<th data-orderable="true">ASIN</th>								
								<th data-orderable="false">Product Title</th>								
								<th style="text-align: center;" data-orderable="false">Keywords</th>
								<th style="text-align: center;" data-orderable="false">Pending</th>
								<th style="text-align: center;" data-orderable="false">Indexed</th>
								<th style="text-align: center;" data-orderable="false">Not Indexed</th>
								<th style="text-align: center;" data-orderable="false">Errors</th>																
								<th data-orderable="false">Progress</th>								
                                <th nowrap data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>	                        				
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-search" type="x-handlebars">
		<tr class="search-item" data-id="{{id}}">
			<td nowrap>{{timestamp}}</td>
			<td nowrap>{{product.asin}}</td>
			<td>{{product.title}}</td>			
			<td align="center" nowrap>{{formatNumber stats.total}}</td>	
			<td align="center" nowrap>{{formatNumber stats.pending}}</td>
			<td align="center" nowrap>{{formatNumber stats.found}}</td>
			<td align="center" nowrap>{{formatNumber stats.notfound}}</td>
			<td align="center" nowrap>{{formatNumber stats.errors}}</td>
			<td nowrap>				
				<div class="progress">				
  					<div class="progress-bar progress-bar-success" role="progressbar" style="width: {{stats.progress}}%;">{{formatNumber stats.progress}}%</div>					
				</div>
			</td>								                  				                        		
			<td nowrap>
				<a href="#" title="View Results" class="btn btn-success btn-xs results-a"><i class="fa fa-list"></i></a>
				<a href="#" title="Rerun Search" class="btn btn-info btn-xs redo-a"><i class="fa fa-refresh"></i></a>
				<a href="#" title="Delete Search" class="btn btn-danger btn-xs remove-a"><i class="fa fa-times"></i></a>
			</td>
		</tr>
	</script>

</div> 