<div class="row page-products">
		
	<div class="products-list"></div>
	
	<div class="col-lg-4 products-item" data-id="0">    	
        <div class="widget m-none navy-bg p-lg text-center add-a">
			<div class="m-t-lg">
				<i class="fa fa-plus fa-4x"></i>                            
				<h3 class="font-bold no-margins">Add Product</h3>                            
			</div>
		</div>	           	
	</div>	
	
	<script id="template-products-item" type="x-handlebars">
	<div class="col-lg-4 products-item" data-id="{{id}}">
    	<div class="contact-box">        	
        	<div class="col-sm-4">
	            <div class="text-center">
                	<img alt="image" class="img-square m-t-xs img-responsive" src="{{img}}">                	
            	</div>
        	</div>
        	<div class="col-sm-8">
				
	            <h3 class="product-title" data-title="{{title}}"><strong>{{title_short}}</strong></h3>            	
				<p>Sales Rank: {{formatNumber salesrank}} <a href="#" class="btn btn-primary btn-xs rank-refresh-a"><i class="fa fa-refresh"></i></a> <a href="#" class="btn btn-info btn-xs salesrank-history-a"><i class="fa fa-line-chart"></i></a></p>
				{{#xIf badge '==' ''}}{{else}}<p><a href="#" class="btn btn-xs btn-warning">{{badge}}</a></p>{{/xIf}}
				<p>
					<label class="label label-default"><b>{{keywords.length}}</b> Keywords</label>
					<label class="label label-default"><b>{{top10}}</b> Top 10 Keywords</label>
				</p>

				 <div class="progress {{#xIf percentage "<" "100"}}progress-striped active{{else}}{{/xIf}}">
					<div style="width: {{percentage}}%" role="progressbar" class="progress-bar {{#xIf percentage "<" "100"}}progress-bar-danger{{else}}progress-bar-info{{/xIf}}">
						<small>{{formatFloat percentage}}% Completed (pending {{formatNumber sessions.pending}} of {{formatNumber sessions.total}})</small>
					</div>
				</div>
        	</div>			
        	<div class="clearfix"></div>
			<div class="text-align actions">
				<div class="col-xs-6 m-b-s">					
					<a href="<?=$GLOBALS['system']['href_base']?>/keywords#{{id}}" class="btn btn-success btn-block text-white keywords-a" style="color: white"><i class="fa fa-list"></i> Keywords</a>
				</div>
				<div class="col-xs-6 m-b-sm">					
					<a href="<?=$GLOBALS['system']['href_base']?>/sessions#{{id}}" class="btn btn-primary btn-block text-white sessions-a" style="color: white"><i class="fa fa-bar-chart"></i> Sessions</a>
				</div>
				<div class="col-xs-6 m-b-sm">					
					<a href="#" data-pId="{{id}}" class="btn btn-info btn-block text-white sessions-create-a" style="color: white"><i class="fa fa-plus"></i> Create Sessions</a>
				</div>
				<div class="col-xs-6 m-b-sm">
					<a href="#" class="btn btn-danger btn-block text-white remove-a" style="color: white"><i class="fa fa-trash"></i> Remove</a>
				</div>
			</div>	            
		</div>
	</div>
	</script>		
</div>