<div class="widget-access m-sm">

	<div class="row white-bg ">
		<div class="col-sm-12">
			<div class="product-select">
				<label class="form-label">Current Product</label>
				<label class="access-summary-container"></label>
				<?php
						$pId = $_REQUEST['id'];
						$products = getProducts(false);						
					?>		
				<a href="#" class="btn btn-xs btn-info pull-right m-r-sm sessions-create-a" data-filter-product-id=""><i class="fa fa-plus"></i> Create Sessions</a>
				<select class="form-control">					
					<option value="">All Products</option>
					<?php foreach($products as $p): ?>
						<option value="<?=$p->id?>"><?=$p->title?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>		
		<div class="col-sm-12">
			
		</div>			
	</div>		
		
	<script id="template-access-summary" type="x-handlebars">
		{{#each stats}}
			<span class="access-status-label label label-{{formatStatusLabel this.status}}">
				<label>{{formatNumber this.num}}</label>                                                    
				<label>{{this.status}}</label>      				                                                    
			</span>
		{{/each}}
	</script>
</div>