<div class="alert alert-{{type}}">{{msg}}</div>
<div style="overflow: hidden; position: relative;">
<div class="img-zoom">
	<a href="<?=$GLOBALS['system']['images_href']?>{{id}}.png">
		<img src="<?=$GLOBALS['system']['images_href']?>{{id}}.png" alt="" class=" img-responsive"/>
	</a>
</div>
</div>
		