<div class="page-bots">
	
	<div class="row">
		<div class="col-sm-6">
			<div class="ibox-content m-b-sm border-bottom">
				<form class="create-form">
				<input type="hidden" name="action" value="createSessions">
				<div class="row">								
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label">Search Term</label>
							<input type="text" class="form-control" name="q">						
						</div>
					</div>				
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label">Product Title</label>
							<input type="text" class="form-control" name="product">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label">Number of Sessions</label>
							<input type="number" class="form-control" name="sessions">
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary create-a"><i class="fa fa-plus"></i> Create</a>
						</div>
					</div>				
				</div>
				</form>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Summary</div>
				<div class="ibox-content summary-container"></div>			
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content m-b-sm border-bottom">
				<form class="search-form">
				<input type="hidden" name="action" value="loadSessions">
				<div class="row">								
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">Search Term</label>
							<input type="text" class="form-control" name="filter[search_term]">						
						</div>
					</div>	
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">Product Title</label>
							<input type="text" class="form-control" name="filter[product]">						
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">Status</label>
							<select class="form-control" name="filter[status]">
								<option value="">All</option>
								<option value="Pending">Pending</option>
								<option value="Working">Working</option>
								<option value="Done">Done</option>
								<option value="Error">Error</option>
							</select>						
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
						</div>
					</div>				
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Sessions</h5>					
				</div>
                <div class="ibox-content">
                    <table class="table sessions-container">
                        <thead>
                            <tr>								
								<th data-orderable="true">Created</th> 
								<th data-orderable="true">Scheduled</th>
								<th data-orderable="true">Search Term</th>
								<th data-orderable="true">Product Title</th>								
								<th data-orderable="false">Duration</th>
								<th data-orderable="true">Status</th>																                              
                                <th nowrap data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>	                        				
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-summary" type="x-handlebars">
		<table class="table">
		{{#each stats}}
			<tr>
				<td>{{this.status}}</td>
				<td>{{this.num}}</td>
			</tr>			
		{{/each}}
		<tr><td colspan="2"><a href="#" class="btn btn-block btn-primary clear-a">Clear sessions</a></td></tr>
		</table>
	</script>
	<script id="template-session" type="x-handlebars">
		<tr data-id="{{id}}">
			<td>{{timestamp}}</td>
			<td>{{schedule}}</td>
			<td>{{search_term}}</td>
			<td>{{product}}</td>			
			<td>{{duration}}</td>
			<td>
				{{#xIf status "==" "Done"}}				                        			
					<a href="#" data-type="success" data-msg="Successful Session" class="btn btn-success snapshot-a"><i class="fa fa-check"></i> {{status}}</a>
				{{else}}
					{{#xIf status "==" "Error"}}
						<a href="#" data-type="danger" data-msg="{{error}}"  class="btn btn-warning snapshot-a"><i class="fa fa-exclamation"></i> {{status}}</a>	
					{{else}}
						{{status}}
					{{/xIf}}
				{{/xIf}}
			</td>                        				                        			
			<td>
				<a href="#" class="btn btn-danger remove-a"><i class="fa fa-times"></i></a>
			</td>
		</tr>
	</script>
	<script id="template-empty" type="x-handlebars">
		<tr>
			<td>No sessions found!</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>                        			
			<td></td>
		</tr>
	</script>
</div>