<form>
	<input type="hidden" name="action" value="addKeywords"/>
	<input type="hidden" name="pId" value="{{pId}}"/>
	<div class="form-group">				
		<div class="fileupload fileupload-new">																			
			<div class="text-center actions">
				<span class="btn btn-success btn-block btn-file btn btn-primary"><i class="fa fa-fw fa-upload"></i> Import from CSV<span class="fileupload-new"></span><input type="file"></span>										
			</div>
			<a href="#" class="btn btn-warning btn-block uploading" style="display: none;"><i class="fa fa-fw fa-spinner fa-spin"></i> Uploading, Please wait...</a>
		</div>					
		<br>
		<div class="form-label">Keywords (one keyword per line)</div>	
		<textarea class="form-control" rows="10" name="keywords"></textarea>
	</div>
</form>