<form class="badges-search-form">
	<input type="hidden" name="action" value="getBadgesHistory">
	<input type="hidden" name="id" value="{{id}}">
	
	<div class="form-group input-group">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>		
		<input type="text" class="form-control daterangepicker" name="range" placeholder="Select date range"/>
	</div>
</form>
<div class="badges-pie-chart" style="width: 100%; min-height: 413px;"></div>
