<form>
	<input type="hidden" name="action" value="saveKeyword">
	<input type="hidden" name="id" value="{{id}}">		
	<div class="form-group">
		<label>Keyword: </label>
		<input type="text" class="form-control" name="term" value="{{keyword}}">
	</div>
</form>