<div class="page-keywords">	

	<?php includeWidget('access'); ?>

	<hr>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content m-b-sm border-bottom">
				<form class="search-form">
				<input type="hidden" name="action" value="loadKeywords">
				<input type="hidden" name="filter[product_id]" value="">
				<div class="row">								
					<div class="col-sm-8">
						<div class="form-group">
							<label class="control-label">Keyword</label>
							<input type="text" class="form-control" name="filter[q]">						
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
						</div>
					</div>				
				</div>
				</form>
			</div>
		</div>

		<div class="col-sm-6 hidden">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Summary</div>
				<div class="ibox-content summary-container"></div>			
			</div>
		</div>
	</div>
	
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Keywords</h5>										
					<a href="#" class="btn btn-xs btn-primary pull-right add-a"><i class="fa fa-plus-circle"></i> Add Keywords</a>
					<a href="#" class="btn btn-xs btn-info pull-right keywords-create-sessions-a m-r-sm"><i class="fa fa-plus"></i> Create sessions for the selected keywords</a>										
				</div>
                <div class="ibox-content">
                    <table class="table keywords-container">
                        <thead>
                            <tr>
                            	<th data-orderable="false"><input class="select-all" type="checkbox"/></th>
								<th data-orderable="true" data-default-sort="desc">Created</th> 
								<th data-orderable="true">Ranked</th>
								<th data-orderable="true">Keyword</th>								
								<th data-orderable="true">Product</th>								
								<th data-orderable="true">Rank</th>
								<th data-orderable="false">Badges</th>
								<th data-orderable="true">Possible Badges</th>
								<th data-orderable="false">Rank Movement</th>
								<th data-orderable="false">Pending Sessions</th>
								<th data-orderable="false">Completed Sessions</th>
								<th data-orderable="false">Next Sessions</th>
								<th data-orderable="false">Estimated Completion</th>															
                                <th nowrap data-orderable="false"></th>                                                                                                
                            </tr>
                        </thead>
                        <tbody>	                        				
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-summary" type="x-handlebars">
		<ul class="list-group clear-list m-b-none">                           
		{{#each stats}}
			 <li class="list-group-item">
				<span class="pull-right">{{this.value}} <b>({{this.p}}%)</b></span>
				{{this.label}}
			</li>
		{{/each}}		
		</ul>
	</script>
	<script id="template-keyword" type="x-handlebars">
		<tr class="keyword-item" data-id="{{id}}" data-keyword="{{term}}">
			<td><input type="checkbox"/></td>
			<td><small>{{timestamp}}</small></td>
			<td><small>{{latest_rank_timestamp}}</small></td>
			<td nowrap>{{term}}</td>			
			<td nowrap>{{product_title}}</td>
			<td>{{rank}}</td>
			<td>	
				{{#each badges}}
					<a href="#" class="btn btn-xs {{#if current}}btn-warning{{else}}btn-white{{/if}} small"><small>{{title}} {{timestamp}}</small></a>
				{{else}}
					-
				{{/each}}
			</td>
			<td>
				{{#each badges_found}}
					<a href="#" class="btn btn-xs small"><small>{{this}}</small></a>
				{{else}}
					-
				{{/each}}
			</td>
			<td>
				{{#xIf rank_delta "==" "-"}}
					-
				{{else}}
					{{#xIf rank_delta "==" "0"}}
						<span class="text-default">{{rank_delta}}</span>
					{{else}}
						{{#xIf rank_delta ">=" "0"}} 
							<span class="text-navy"><i class="fa fa-level-up"></i> {{rank_delta}}</span>
						{{else}}
							<span class="text-danger"><i class="fa fa-level-down"></i> {{rank_delta}}</span>
						{{/xIf}}
						<span class="pie">{{line}}</span>
					{{/xIf}}
				{{/xIf}}
			</td>		
			<td>
				{{#xIf sessions.pending ">" "0"}}
					<a href="#" class="sessions-keyword-campaigns-a" data-kId="{{id}}">{{formatNumber sessions.pending}} <i class="fa fa-list"></i></a>	
				{{else}}
					{{formatNumber sessions.pending}}
				{{/xIf}}
			</td>	
			<td>{{formatNumber sessions.done}}</td>
			<td nowrap><small>{{sessions.next}}</small></td>
			<td nowrap><small>{{sessions.final}}</small></td>
			<td nowrap>				
				<a href="#" title="View Rank History" class="btn btn-info btn-xs history-a"><i class="fa fa-line-chart"></i></a>
				<a href="#" title="View Badges History" class="btn btn-warning btn-xs badges-a"><i class="fa fa-tag"></i></a>
				<a href="#" title="Rank keyword" class="btn btn-success btn-xs rank-a" data-loading-text='<i class="fa fa-spin fa-spinner"></i>'><i class="fa fa-bullseye"></i></a>
				<a href="#" title="Edit keyword" class="btn btn-primary btn-xs edit-a"><i class="fa fa-pencil"></i></a>
				<a href="#" title="Delete keyword" class="btn btn-danger btn-xs remove-a"><i class="fa fa-trash"></i></a>				
			</td>
		</tr>
	</script>
	<script id="template-empty" type="x-handlebars">
		<tr>
			<td>No keywords found!</td>
			<td></td>
			<td></td>
		</tr>
	</script>
</div>