<div class="page-sessions">	

	<?php includeWidget('access'); ?>

	<hr>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox-content border-bottom">
				<form class="search-form">
				<input type="hidden" name="action" value="loadSessions">
				<input type="hidden" name="filter[pId]" value="">
				<div class="row">								
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">Search Keyword</label>													
							<select type="text" class="form-control" name="filter[search_term]">																					
							</select>							
						</div>
					</div>	
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">Date Range</label>
							<input type="text" class="form-control daterangepicker" name="filter[date]">						
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label class="control-label">Status</label>
							<select class="form-control" name="filter[status]">
								<option value="">All</option>
								<option value="Pending">Pending</option>
								<option value="Working">Working</option>
								<option value="Done">Done</option>
								<option value="Error">Error</option>
							</select>						
						</div>
					</div>
					<div class="col-sm-3 hidden">
						<div class="form-group">
							<label class="control-label">&nbsp;</label>
							<a href="#" class="btn btn-block btn-primary search-a"><i class="fa fa-search"></i> Search</a>
						</div>
					</div>				
				</div>
				</form>				
			</div>
		</div>

		<div class="col-sm-6 hidden">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Summary</div>
				<div class="ibox-content summary-container"></div>			
			</div>
		</div>
	</div>
	
	<div class="row white-bg">
        <div class="col-lg-12">
	 		<div class="sessions-line-chart" style="width: 100%; min-height: 413px;"></div>
	 	</div>
	 </div>
      
	
	
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
					<h5>Sessions</h5>																			
				</div>
                <div class="ibox-content">
                    <table class="table sessions-container">
                        <thead>
                            <tr>								
								<th data-orderable="true">Created</th> 
								<th data-orderable="true">Scheduled</th>
								<th data-orderable="true">Search Term</th>
								<th data-orderable="true">Product Title</th>								
								<th data-orderable="true">Page Limits</th>
								<th data-orderable="false">Duration</th>
								<th data-orderable="true">Badge</th>
								<th data-orderable="true">Status</th>																                              
								<th data-orderable="true">Proxies</th>
                                <th nowrap data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>	                        				
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	
	<script id="template-summary" type="x-handlebars">
		<ul class="list-group clear-list m-b-none">                           
		{{#each stats}}
			 <li class="list-group-item">
				<span class="pull-right">{{this.value}} <b>({{this.p}}%)</b></span>
				{{this.label}}
			</li>
		{{/each}}		
		</ul>
	</script>
	<script id="template-session" type="x-handlebars">
		<tr data-id="{{id}}">
			<td nowrap>{{timestamp}}</td>
			<td nowrap>{{schedule}}</td>
			<td>{{search_term}}</td>			
			<td>{{product}}</td>	
			<td>{{page_start}} - {{page_end}}</td>		
			<td>{{duration}}</td>
			<td>{{badge}}</td>
			<td>
				{{#xIf status "==" "Done"}}				                        			
					<a href="#" data-type="success" data-msg="Successful Session" class="btn btn-xs btn-success snapshot-a"><i class="fa fa-check"></i> {{status}}</a>
				{{else}}
					{{#xIf status "==" "Error"}}
						<a href="#" data-type="danger" data-msg="{{error}}"  class="btn btn-xs btn-warning snapshot-a"><i class="fa fa-exclamation"></i> {{status}}</a>	
					{{else}}
						{{status}}
					{{/xIf}}
				{{/xIf}}
			</td>      
			<td>{{#if proxy_provider}}{{proxy_provider}}{{else}}Default{{/if}}</td>                  				                        			
			<td>
				<a href="#" class="btn btn-danger btn-xs remove-a"><i class="fa fa-times"></i></a>
			</td>
		</tr>
	</script>
	<script id="template-sessions-empty" type="x-handlebars">
		<tr>
			<td>No sessions found!</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>                        			
			<td></td>
		</tr>
	</script>
</div> 